<div class="character-sidebar">
    <div class="character-form">
        <div class="account-name-field">
            <label>Account Name</label>
            <input type="text" placeholder="Account Name"/>
        </div>
        <div class="character-name-field">
            <label>Character Name</label>
            <input class="character-name-field" type="text" placeholder="Character Name"/>
        </div>
        <button class="character-submit-btn" type="submit">Add Character</button>
    </div>

    <div class="character-list">
        <!-- stub -->
        <div class="character">
            <div class="avatar"></div>
            <h3>BruceWallace</h3>
            <p>Level <span class="level">80</span> <span class="class">Juggernaut</span></p>
        </div>
        <!-- -->
    </div>
</div>